.DS_Store
.idea
logs
.vscode
.history
coverage*.out
integration_test/certs/tls.crt
integration_test/certs/tls.key
beelzebub-test
beelzebub-*
/beelzebub
collector
*.tar.gz
logs/
configurations/prod-configs/
