127.0.0.1   localhost
{{ node.persona_local.internal_ip }}   {{ node.node_id }} {{ node.persona_local.fqdn }}
{% for peer in peers %}
{{ peer.persona_local.internal_ip }}   {{ peer.node_id }} {{ peer.persona_local.fqdn }}
{% endfor %}
